# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
.venv/
env/
venv/
pdf/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code project files
.vscode/

# Model and training output
model/
train_model/__pycache__/
*.h5
*.pth
*.pt
*.joblib
*.pkl

# Output files
output/
*.json
# Ignore all PDFs...
*.pdf
# ...BUT do NOT ignore PDFs inside the 'pdf/' directory
!pdf/*.pdf

# PDF inputs (this rule will still ignore PDFs in the 'input' folder)
input/*.pdf

# Log files
*.log

# OS or Python metadata
*.egg-info/
.eggs/
dist/
build/

# Temporary files
*.tmp
*.bak
*.swp
*.swo
~$*